<div class="page-header">
	<h1>商城订单管理</h1>
	<input type="checkbox" ng-model="test_smsEnabled" ng-change="toggleSms()">
	是否发送短信（测试选项，将在产品中移除）
</div><!-- /.page-header -->
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12" style="margin-bottom:10px;">
				<button class="btn btn-primary btn-sm" ng-click="refresh()">
					刷新订单
				</button>
				<!-- ddl for order time -->
				<div class="btn-group" dropdown is-open="isTimeDropdownOpen">
					<button type="button" class="btn btn-white dropdown-toggle" style="border:#ccc solid 1px;">
						{{selectedOrderTimeFileter.name}} <span class="icon-caret-down icon-on-right"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="time in ORDER_TIME_DDMENU" ng-class="{divider:time.value=='divider'}">
							<a href="" ng-if="time.value!='divider'"
							ng-click="changeTimeFilter(time)">{{time.name}}</a>
						</li>
					</ul>
				</div>
				<!-- ddl for order status -->
				<div class="btn-group" dropdown is-open="isStatusDropdownOpen">
					<button type="button" class="btn btn-white dropdown-toggle" style="border:#ccc solid 1px;">
						{{selectedOrderStatusFileter.name}} <span class="icon-caret-down icon-on-right"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="status in ORDER_STATUS_DDMENU" ng-class="{divider:status.value=='divider'}">
							<a href="" ng-if="status.value!='divider'"
							ng-click="changeStatusFilter(status)">{{status.name}}</a>
						</li>
					</ul>
				</div>
				<div class="pull-right" style="margin-top:-10px;">
					<div>
						<br>
						{{selectedOrderTimeFileter.name}}订单数：<b class="red"> {{statistics.orderCount}}<span ng-show="ordersTotalCount"> / {{ordersTotalCount}}</span></b>
						待处理：<b class="red">{{statistics.waitOrderCount}}</b>
						已完成：<b class="red">{{statistics.finishedOrderCount}}</b>
					</div>
				</div>
			</div>

		</div>
		<div class="panel panel-default" ng-if="selectedOrderTimeFileter.value=='range'">
			<form name="formTimeRange" role="form" novalidate >
				<input type="text" name="timeStart" ng-model="timeStart" placeholder="开始（8位数字，yyyymmdd）"
				ng-pattern="/^(?:(?!0000)[0-9]{4}([-/.]?)(?:(?:0?[1-9]|1[0-2])\1(?:0?[1-9]|1[0-9]|2[0-8])|(?:0?[13-9]|1[0-2])\1(?:29|30)|(?:0?[13578]|1[02])\1(?:31))|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)([-/.]?)0?2\2(?:29))$/">
				<input type="text" name="timeEnd" ng-model="timeEnd" placeholder="结束（yyyyMMdd）"
				ng-pattern="/^(?:(?!0000)[0-9]{4}([-/.]?)(?:(?:0?[1-9]|1[0-2])\1(?:0?[1-9]|1[0-9]|2[0-8])|(?:0?[13-9]|1[0-2])\1(?:29|30)|(?:0?[13578]|1[02])\1(?:31))|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)([-/.]?)0?2\2(?:29))$/">
				<button class="btn btn-sm" ng-click="filterByTimeRange()"
				ng-disabled="formTimeRange.$dirty && formTimeRange.$invalid">
					确定
				</button>
			</form>
			<!--
			<div class="panel-body">
			<div class="col-xs-3">
			<div class="input-group">
			<input type="text" class="form-control" placeholder="开始（yyyy-MM-dd）"
			ng-model="dateStart" is-open="startOpened" ng-required="false" close-text="关闭"/>
			<span class="input-group-btn">
			<button type="button" class="btn btn-default btn-sm" ng-click="openStart($event)">
			<i class="icon-calendar"></i>
			</button>
			</span>
			</div>
			</div>
			<div class="col-xs-3">
			<div class="input-group">
			<input type="text" class="form-control" placeholder="结束（yyyy-MM-dd）"
			ng-model="dateStart" is-open="endOpened" ng-required="false" close-text="关闭"/>
			<span class="input-group-btn">
			<button type="button" class="btn btn-default btn-sm" ng-click="openEnd($event)">
			<i class="icon-calendar"></i>
			</button>
			</span>
			</div>
			</div>

			<p class="input-group">
			<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened"
			min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"
			date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
			<span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="open($event)"><i
			class="glyphicon glyphicon-calendar"></i></button>
			</span>
			</p>
			</div>
			-->
		</div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<td width="70">收货人</td>
							<td width="70">电话</td>
							<td>地址</td>
							<td width="70">总价</td>
							<td width="70">付款方式</td>
							<td width="80">订单状态</td>
							<td width="70">交易操作</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="order in orders">
							<td colspan="7" class="active"> 订单号：<a href="order.html#/{{wxAccountId}}/{{order.id}}"
							target="_blank"><b>{{order.no}}</b></a> |
							订单时间：{{order.appCreateTime|date:'yyyy-MM-dd HH:mm:ss'}} <span ng-show="order.memo" class="pull-right">备注：{{order.memo}}</span></td>
						</tr>
						<tr>
							<td>{{order.shippingName}}</td>
							<td>{{order.shippingPhone}}</td>
							<td>{{order.shippingAddress}}</td>
							<td>{{order.itemTotalPrice | currency:'￥'}}</td>
							<td>{{order.displayPayment}}</td>
							<td>{{order.displayStatus}}</td>
							<td>
							<div style="margin-top:-10px;">
								<button class="btn btn-sm btn-primary" style="border:0px; margin-top:10px; width:80px;"
								ng-show="order.status=='WAITING_SHIPMENT'"
								ng-click="ship(order)">
									马上发货
								</button>
							</div></td>
						</tr>
						<tr style="border-left:#fff solid 1px; border-right:#fff solid 1px;" ng-repeat-end>
							<td colspan="7" style="border-left:#fff solid 1px; border-right:#fff solid 1px;"></td>
						</tr>
					</tbody>
				</table>
				<div class="col-xs-6 col-sm-offset-3" ng-show="ordersTotalCount">
					<button class="btn btn-warning btn-large btn-block" ng-click="fetchMore()"
					ng-disabled="allOrders.length >= ordersTotalCount">
						查看更早的订单
					</button>
				</div>
			</div>
		</div>
	</div>
</div>