<!DOCTYPE html>
<html lang="zh-cn" ng-app="wlcOrderDetailMod" ng-controller="wlcRootCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="(demo)，微信公众号服务平台，优化用户体验和服务。"/>
    <meta name="keywords" content=",微平台,微信,微信公众号,公众号服务平台"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>-订单详情</title>
    <link href="common/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="common/static/css/demo.css" rel="stylesheet">
</head>
<style>
    .top-line {
        border-top: 1px solid black;
    }

    .bottom-line {
        border-bottom: 1px solid black;
    }
</style>
<body>
<div class="row" id="order">
    <div class="col-xs-12" style="width:600px; margin-left:10px;">
        <div><h4>{{shopName}}</h4></div>
        <div>订单号：{{order.no}}</div>
        <div>时间：{{order.appCreateTime|date:'yyyy-MM-dd HH:mm:ss'}}</div>
        <div>订单状态：{{order.displayStatus}} <span ng-if="order.statusDesc"> - {{order.statusDesc}}</span></div>

        <hr>
        <div class="row">
            <span class="col-xs-6">商品名</span>
            <span class="col-xs-3">数量</span>
            <span class="col-xs-3">金额</span>
        </div>
        <hr>
        <div class="row itemsContent" ng-repeat="item in order.wlsShopOrderItems">
            <span class="col-xs-6">{{item.itemName}}</span>
            <span class="col-xs-3">{{item.itemCount}}</span>
            <span class="col-xs-3" ng-show="item.source=='MONEY'">{{item.itemPrice|currency:'￥'}}</span>
            <span class="col-xs-3" ng-show="item.source=='POINTS'">{{item.itemPrice}}积分</span>
        </div>
        <p></p>

        <div>备注：{{order.memo}}</div>

        <hr>
        <div>商品总数：{{order.itemTotalCount}}</div>
        <div>消费金额：{{order.itemTotalPrice|currency:'￥'}}</div>
        <div>运费：{{order.shippingFee|currency:'￥'}}</div>
        <div>应收：{{order.itemTotalPrice + order.shippingFee|currency:'￥'}}</div>
        <div>支付方式：{{order.displayPayment}}</div>

        <hr>
        <div>收货人：{{order.shippingName}}</div>
        <div>电话：{{order.shippingPhone}}</div>
        <div>地址：{{order.shippingAddress}}</div>
    </div>
</div>
<div>
    <button class="btn" ng-click="print()">打印</button>
</div>
</body>
<script src="common/lib/js/angular.min.js"></script>
<script src="common/lib/js/angular-route.min.js"></script>
<script src="common/lib/js/jquery-2.0.3.min.js"></script>
<script src="common/lib/js/jquery.printarea.js"></script>
<script src="common/wlc-helpers.js"></script>
<script src="base/showorder-controller.js"></script>
</html>