<div class="page-header">
    <h1>概况及统计</h1>
</div>
<!-- /.page-header -->
<!-- PAGE CONTENT STARTS -->
<div id="alertPlaceHolder"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box transparent" id="recent-box">
            <div class="widget-header">
                <h4 class="lighter smaller"><i class="icon-rss orange"></i> 最新统计数据 </h4>

                <div class="widget-toolbar no-border">
                    <ul class="nav nav-tabs" id="recent-tab">
                        <li class="active">
                            <a data-toggle="tab" href="#day-tab">日</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#week-tab">周</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#month-tab">月</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-4">
                    <div class="tab-content padding-8 overflow-visible">
                        <div id="day-tab" class="tab-pane active">
                            <!--本日最新统计-->
                        </div>

                        <div id="week-tab" class="tab-pane">
                            <!--本周最新统计-->
                        </div>
                        <!-- week-tab -->

                        <div id="month-tab" class="tab-pane">
                            <!--本月最新统计-->
                        </div>
                    </div>
                </div>
                <!-- /widget-main -->
            </div>
            <!-- /widget-body -->
        </div>
        <!-- /widget-box -->
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->