<div class="page-header">
    <h1>欢迎</h1>
</div>
<!-- /.page-header -->
<div class="alert alert-block alert-info">
    <button type="button" class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
    </button>
    <span>TODO:内测公告写在这里。</span>
</div>
<div id="alertPlaceHolder"></div>

<div id="divBindAccount" class="row hidden">
    <div class="col-md-12"><h2>还没有绑定公众号？</h2>
        <a href="WXPublic.html">
            <button class="btn btn-warning btn-lg">
                <span>赶快添加</span>
            </button>
        </a>
    </div>
</div>
<div class="space"></div>
<div id="wxAccountInfoContainer"></div>